/*rang safe header*/

body{
	 background: url("images/image-20160606-13080-s7o3qu.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	margin:0;
}

.primary-header{
       text-align:center;
}

.main-heading{
	 color:#8B4513;
	 font-size:70px;
}

.site-preview{
	 width:650px;
}

.photo-all{
	 width:180px;
     float:right;
}

.photo-do{
	 width:180px;
     float:left;
}
.school-section{
	display:flex;
	margin:50px auto;
	width:450px;
	font-family:'open Sans' ,sans-serif;
}

.imager{
	 width:200px;

}

.school-details{
         margin-left:30px;
         font-family:'open Sans' ,sans-serif;
}

.category-heading{
	color:#00ffdf;
	font-size:30px;
	text-align:center;
	font-family:'open Sans' ,sans-serif;
}

.store-list{
	list-style-type: none;
}

.control-name{
        margin-bottom:10px;
        font-family:'open Sans' ,sans-serif;
}

.store-link{
	 color:#f0ff00;
	 font-size:20px; 
	 text-align:center;
	 font-family:'open Sans' ,sans-serif;
}

.mean-div{
	 color:#000080;
	font-size:30px;
	text-align:right;
	font-family:'open Sans' ,sans-serif;
}

.primary-footer{
       background-color:#FFC122; 
       padding:1px;
       text-align:center;
       font-family:'open Sans' ,sans-serif;

}


.created-by{
	color:#FFFFFF ;
	font-size:20px;	
	font-family:'open Sans' ,sans-serif;

}

